

/* Dashboard Layout */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Fixed Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: var(--background-color);
  box-shadow: 0px 2px 5px var(--border-color);
  z-index: 1000;
}

/* Main Content Area */
.mainContent {
  display: flex;
  margin-top: 72px; 
  height: calc(100vh - 72px);
}

/* Main Content (Expands) */
.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Leave space for sidebar */
}


/* sidebar css */
.drawer {
  width: 250px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--background-color);
  padding: 10px;
  overflow-y: auto;
  padding-top: 72px;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  margin-bottom: 10px;
}

.navLink {
  display: block;
  padding: 10px;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navLink:hover {
  color: var(--link-hover);
}

.activeNavLink {
  color: var(--primary-color);
  background-color: var(--border-color);
}



